/* google font's */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-colors duration-200
}

/*-------------------- 
  custom properties 
--------------------*/
:root {
    --primary-color: #ffcd07;
    --secondary-color: #f3b900;
    --text-color: #1a202c;
}

/*-------------------- 
  preset properties 
--------------------*/
body {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color);
  background: none repeat scroll 0 0;
  background-color: #f5f5f5;
  margin: 0 auto;
}

main>section {
    padding-top: 180px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

h2 {
  font-size: 32px; 
  font-weight: 500;
}

svg.star-svg {
display: inline ;
}

.movie-form .css-13cymwt-control, .css-t3ipsp-control{
  border: none !important;
  box-shadow:none !important;
  color: #f3b900;
}

.css-1u9des2-indicatorSeparator{
  display: none;
  
}
.movie-form .css-1xc3v61-indicatorContainer{
  color:var(--text-color);
  width: 24px;
  padding: 0px 0px 0px 7px;
}

.test option:disabled {
  color: var(--primary-color) !important;
}

.alert-confirm-btn{
  background-color: var(--primary-color);
}

/* genre card */
.card.image-full::before {
    border-radius: 0;
    opacity: 0.5;   
    background-color: rgba(0, 0, 0, 0.75) !important; 
}
